/* Personal styles */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 0 0 50px 0;
}

.contain { width: 95%; margin: 0 auto;}

.fn-gantt .leftPanel { width: 385px; }

.fn-gantt .ganttYellow { background-color: #FEEA77; }

.fn-gantt .ganttPurple { background-color: #DCBFEE; }
.fn-gantt .ganttPurple .fn-label { color: #4F1D6B; }

.fn-gantt .ganttPink { background-color: #ffcce6; }
.fn-gantt .ganttPink .fn-label { color: #b30059; }

.fn-gantt .ganttCyan { background-color:#80ffff; }
.fn-gantt .ganttCyan .fn-label { color: #009999; }

.fn-gantt .ganttCream { background-color:#f7ddbb; }
.fn-gantt .ganttCream .fn-label { color: #885411; }
